.DS_Store
**/.DS_Store
.idea/
.vscode/
*.xcuserstate
xcuserdata/
DerivedData/
build/
.build/
*.swp
*.local
.env
.env.*
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcworkspace/xcshareddata/swiftpm/
.swiftpm/
